name: regressions

on:
  push:
  pull_request:

jobs:
  msys2-ucrt64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v5
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: git mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-ninja
      - name: CI-Build
        run: |
          echo 'Running in MSYS2!'
          cmake -B build -DCMAKE_INSTALL_PREFIX=$(PWD)/install -DCMAKE_BUILD_TYPE=Release -DENABLE_REGRESSION=ON . 
          cmake --build build --config Release --parallel
          cmake --install build 